html {
    font-size: 12px;
    font-family: sans-serif;
}

:root {
    --sidebar-color: #FB923C;
    --create-button-color: #EA580C;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-columns: max-content max-content; */
    height: 100%;
}

/* .sidebar, .rightSide, .header, .content {
    border: 1px solid black;
} */

.header {
    background-color: white;
    padding-bottom: 2rem;
    box-shadow: 0 2px 8px gray;
}

.header, .logo {
    padding-top: 2rem;
}

.header > * {
    padding-left: 2rem;
    padding-right: 3rem;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: min-content min-content 200px;
    padding-left: 3rem;
    padding-right: 2rem;
    row-gap: 4rem;
    background-color: var(--sidebar-color);
}

/* .header, 
.sidebar {
    position: sticky;
    top: 1px;
} */

.logo {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 1rem;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.dashLogo {
    width: 3rem;
    height: auto;
}

.navigation {
    display: grid;
    font-size: 1.6rem;
    font-weight: bold;
}

.navigation > div {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
    column-gap: 2rem;
    color: white;
}

.navigation img,
.dashLogo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(188deg) brightness(102%) contrast(105%);
}

.navigation > div:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.navigation > div:active {
    transform: scale(1);
}

.navigation div:nth-child(7) {
    margin-top: 2rem;
}

.rightSide {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 2rem;
    font-size: 2rem;

}

.header .topHalf {
    display: grid;
    grid-template-columns: 7fr 3fr;
    column-gap: 4rem;
    align-items: center;
}

.topHalf .search {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.topHalf .search label:hover {
    cursor: pointer;
}

.search input {
    flex: 1;
    max-width: 650px;
    height: 2.5rem;
    font: inherit;
    font-size: 90%;
    color: rgb(121, 121, 121);
    padding-left: 2rem;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(221, 223, 224);
}

.topHalf .userInfo {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 2rem;
}

.topHalf .userInfo .profilePic img {
    width: 4rem;
}

.topHalf .userInfo .notifIcon:hover {
    cursor: pointer;
}

.bottomHalf {
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    column-gap: 4rem;
}

.bottomHalf .greeting {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 2rem;
    align-items: center;
}

.bottomHalf .greeting img {
    width: 8rem;
}

.greeting .userId {
    width: max-content;
    font-size: 2rem;
    font-weight: bold;
}

.bottomHalf .create {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 150px));
    column-gap: 2rem;
}

.create .button {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: var(--create-button-color);
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
}

.create .button:hover {
    cursor: pointer;
}

.create .button:active {
    transform: scale(0.95);
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: clamp(20px, 10%, 30px);
    padding-bottom: 5rem;
    overflow: scroll;
}

.content .projects {
    padding-left: 2rem;
    padding-top: 5rem;
}

.content .otherBar {
    padding-right: 3rem;
}

.projects > .title,
.otherBar > div > .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color:rgb(78, 78, 78)
}

.content .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, min-height);
    row-gap: 5rem;
    column-gap: 5rem;
    /* border: 1px solid black; */
    font-size: 1.2rem;
}

.content .cards .card {
    padding: 1rem;
    padding-top: 4rem;
    padding-left: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px gray;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    align-content: center;
    background: linear-gradient(to right, orange 2%, white 2%);
}

.card .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(75, 75, 75)
}

.card .options {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    justify-content: end;
    align-self: end;
}

.card .options div:hover {
    cursor: pointer;
}

.card .options div:active {
    transform: scale(0.90);
}

.content .otherBar {
    justify-self: end;
    padding-top: 5rem;
    display: grid;
    grid-template-rows: repeat(2, minmax(250px, min-content));
    grid-auto-columns: minmax(250px, 300px);
    row-gap: 2rem;
}

.otherBar .card {
    font-size: 1.05rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px gray;
    display: grid;
    row-gap: 2rem;
}

.otherBar .card .subtitle {
    font-weight: bold;
    color:rgb(71, 71, 71)
}

.trending .user {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 1rem;
}

.trending .user img {
    width: 3rem;
}

.trending .user .userName {
    font-weight:bolder;
}
